<h1><%= @user.username.capitalize %>'s, <%= @list.name.capitalize %> Gift List</h1>
<

        <% @list.items.each do |item| %>
    <li>
    <% if current_user != @user %>
        <%= form_for([@list, item]) do |f| %>
           
            <%= f.check_box :checked, :class => "toggle", :checked => ( true if found_listItem(item, @list).purchased? ) %> 
          <!--  <#% true if found_listItem(item)purchased?%> -->
        <% end %>

<% end %>
        <%= item.name %> | <%= link_to "Remove Item", find_listItem(item), method: :delete, data: { confirm: "Are you sure you want to remove this item?" } %></li>
        <% end %>
    </ul>
    <%= link_to "Add Items To Your List",  categories_path %> | <%= link_to "Go to all lists", user_path(@user) %>


 


